Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

go-mod-tidy-exclude-examples:
  name: go mod tidy (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
  language: system
  pass_filenames: false

go-vet-mod-exclude-examples:
  name: go vet (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
  language: system
  pass_filenames: false

golangci-lint-mod-exclude-examples:
  name: golangci-lint (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
  language: system
  pass_filenames: false

go-test-mod-exclude-examples:
  name: go test (excluding examples and integration tests)
  entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
  language: system
  pass_filenames: false

Fix OpenSSF Scorecard badge link in README.md
  README.md
Due: none

Add OpenSSF Best Practices badge to README.md
  README.md
Due: none

feat: Implement per-resource spec versioning
  .github/copilot-instructions.md
  cmd/fabrica/add.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  docs/README.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
  docs/guides/spec-versioning.md
  docs/status-subresource.md
  examples/05-cloud-events/README.md
  examples/07-spec-versioning/README.md
  examples/07-spec-versioning/test-versions.sh
  examples/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Add versioning checks to client and storage templates for conditional imports
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
Due: none

feat: Implement per-resource spec versioning (#17)
  .github/copilot-instructions.md
  cmd/fabrica/add.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  docs/README.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
  docs/guides/spec-versioning.md
  docs/status-subresource.md
  examples/05-cloud-events/README.md
  examples/07-spec-versioning/README.md
  examples/07-spec-versioning/test-versions.sh
  examples/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Fix status update Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

remove duplicate status update Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

Fix status update when not using versioning (#19)
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

chore: Remove unnecessary context section from FRU service documentation
  docs/_posts/2025-11-04-fru-service.md
Due: none

fix: filename and clarify version for spec-versioning
  docs/_posts/2025-11-04-pluggable-storage.md
  docs/_posts/2025-11-04-spec-version-history.md
Due: none

Move SPDX lines and add authorship
  .reuse/dep5
  docs/_posts/2025-11-04-basic-crud.md
  docs/_posts/2025-11-04-cloud-events.md
  docs/_posts/2025-11-04-pluggable-storage.md
  docs/_posts/2025-11-04-rack-reconciliation.md
  docs/_posts/2025-11-04-spec-version-history.md
  docs/_posts/2025-11-04-status-subresource.md
  docs/_posts/2025-11-04-welcome-to-fabrica.md
Due: none

Move SPDX lines and add authorship (#21)
  .reuse/dep5
  docs/_posts/2025-11-04-basic-crud.md
  docs/_posts/2025-11-04-cloud-events.md
  docs/_posts/2025-11-04-pluggable-storage.md
  docs/_posts/2025-11-04-rack-reconciliation.md
  docs/_posts/2025-11-04-spec-version-history.md
  docs/_posts/2025-11-04-status-subresource.md
  docs/_posts/2025-11-04-welcome-to-fabrica.md
Due: none

Update templates Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

Fix reconciler example Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Fix reconile file Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Clean up rack reconciler Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Cleanup main template Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/init/main.go.tmpl
Due: none

Clean up reconciler tmpl Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
Due: none

Clean up handlers tmpl Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

Fix whitespace Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Fix event driven reconciliation example (#22)
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
Due: go-test-mod-exclude-examples

gen/runtime: add pkg/apiversion, pkg/imports/catalog
  pkg/apiversion/convert.go
  pkg/apiversion/registry.go
  pkg/imports/catalog/catalog.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

generator: add apiversion templates + integration
  pkg/codegen/generator.go
  pkg/codegen/templates/apiversion/register.gotmpl
  pkg/codegen/templates/apiversion/types_hub.gotmpl
  pkg/codegen/templates/apiversion/types_spoke.gotmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

config: add apis.yaml parsing and validation
  cmd/fabrica/config.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

docs: add hub/spoke versioning guide, examples, and tests
  CHANGELOG.md
  README.md
  docs/versioning.md
  examples/01-basic-crud/README.md
  examples/08-api-versioning/README.md
  examples/08-api-versioning/apis.yaml.example
  examples/README.md
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

lint
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

Add import Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  test/integration/helpers.go
Due: go-test-mod-exclude-examples

Add helpers Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  test/integration/helpers.go
Due: go-test-mod-exclude-examples

Add example 1 test Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  test/integration/clean_test.go
Due: go-test-mod-exclude-examples

Remove outdated step Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/01-basic-crud/README.md
Due: none

refactor: APIs-first architecture with unified config and fabrica.Metadata
  .reuse/dep5
  REUSE.toml
  cmd/fabrica/add.go
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/version.go
  examples/08-api-versioning/.fabrica.yaml
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/08-api-versioning/apis.yaml.example
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
  examples/08-api-versioning/cmd/server/main.go
  examples/08-api-versioning/go.mod
  examples/08-api-versioning/go.sum
  examples/08-api-versioning/go.sum.license
  examples/08-api-versioning/internal/storage/storage.go
  pkg/fabrica/types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add conversion methods for device resource across API versions
  cmd/fabrica/add.go
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add IsHub marker for hub/storage version in device resource
  cmd/fabrica/add.go
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: do not omit YAML in gitignore template
  pkg/codegen/templates/init/gitignore.tmpl
Due: none

Path conditions:
  go-mod-tidy-exclude-examples: any of: ^(go\.(mod|sum)|cmd/|pkg/|internal/).* and \.go$
  go-vet-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  golangci-lint-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  go-test-mod-exclude-examples: any of: \.go$
