Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

go-mod-tidy-exclude-examples:
  name: go mod tidy (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
  language: system
  pass_filenames: false

go-vet-mod-exclude-examples:
  name: go vet (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
  language: system
  pass_filenames: false

golangci-lint-mod-exclude-examples:
  name: golangci-lint (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
  language: system
  pass_filenames: false

go-test-mod-exclude-examples:
  name: go test (excluding examples and integration tests)
  entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
  language: system
  pass_filenames: false

update curl json payloads to adhere to current schema in getting-started
  docs/guides/getting-started.md
Due: none

feat: add support for local Fabrica source during code generation
  README.md
  USAGE.md
  cmd/fabrica/add.go
  cmd/fabrica/apiversion_template_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/generate_local_source_test.go
  cmd/fabrica/init.go
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  cmd/fabrica/tokensmith_authn_jwks_required_test.go
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
  examples/09-ent-advanced/quick-start.sh
  examples/11-node-service/README.md
  examples/README.md
  internal/constants/tokensmith.go
  pkg/codegen/generator.go
  pkg/codegen/generator_test.go
  pkg/codegen/templates/apiversion/register.gotmpl
  pkg/codegen/templates/apiversion/types_hub.gotmpl
  pkg/codegen/templates/apiversion/types_spoke.gotmpl
  pkg/codegen/templates/init/env.tmpl
  pkg/codegen/templates/init/gitignore.tmpl
  pkg/codegen/templates/init/go.mod.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add generated file header with SPDX license and copyright information
  cmd/fabrica/generate.go
  cmd/fabrica/registration_template_test.go
  pkg/codegen/templates/apiversion/register.gotmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: clean up comments in templates for better readability
  pkg/codegen/templates/apiversion/register.gotmpl
  pkg/codegen/templates/client/models.go.tmpl
Due: none

feat: upgrade to TokenSmith 0.3.0 with AuthZ integration with starter files and configuration
  cmd/fabrica/authz_classifier_template_test.go
  cmd/fabrica/config_security_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/templates_router_grouping_test.go
  cmd/fabrica/tokensmith_authz_templates_test.go
  go.mod
  go.sum
  internal/constants/tokensmith.go
  pkg/codegen/generator.go
  pkg/codegen/templates/authz/grouping.csv.tmpl
  pkg/codegen/templates/authz/model.conf.tmpl
  pkg/codegen/templates/authz/policy.csv.tmpl
  pkg/codegen/templates/init/env.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/authz_classifier.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct SPDX license identifier in templates and tests
  cmd/fabrica/apiversion_template_test.go
  cmd/fabrica/registration_template_test.go
  pkg/codegen/templates/authz/grouping.csv.tmpl
  pkg/codegen/templates/authz/model.conf.tmpl
  pkg/codegen/templates/authz/policy.csv.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add JWT bearer token support in client and CLI templates
  cmd/fabrica/client_auth_template_test.go
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add working directory
  cmd/fabrica/init.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add module compatibility check and related tests for code generation (#38)
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  REUSE.toml
  cmd/fabrica/generate.go
  cmd/fabrica/generate_preflight_test.go
  cmd/fabrica/generate_runner_test.go
  docs/reference/releasing.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  test/integration/TESTING_STRATEGY.md
  test/integration/clean_test.go
  test/integration/concurrency_test.go
  test/integration/helpers.go
  test/integration/runtime_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

seantronsen/doc updates (#43)
  docs/guides/getting-started.md
  docs/guides/quickstart.md
Due: none

refactor: streamline auth configuration in generator and tests
  cmd/fabrica/generate.go
  cmd/fabrica/generate_runner_test.go
  pkg/codegen/generator.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update SPDX license headers and clean up merge conflicts in generated files
  cmd/fabrica/apiversion_template_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/generate_runner_test.go
  cmd/fabrica/init.go
  cmd/fabrica/registration_template_test.go
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  test/integration/clean_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct SPDX license header check in template tests
  cmd/fabrica/apiversion_template_test.go
  cmd/fabrica/registration_template_test.go
  test/integration/clean_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update auth configuration to use compatibility helper in generated code
  cmd/fabrica/generate.go
  cmd/fabrica/generate_runner_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add error when reconcilers are enabled without events
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Change default workers to 1
  pkg/reconcile/controller.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add setter for worker count
  pkg/reconcile/controller.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add comment for setter
  pkg/reconcile/controller.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Introduce orchestration-first boundary for server startup templates
  cmd/fabrica/init.go
  cmd/fabrica/scaffold_helper_ownership_test.go
  cmd/fabrica/scaffold_init_integration_test.go
  cmd/fabrica/scaffold_scope_boundary_test.go
  cmd/fabrica/tokensmith_authn_jwks_required_test.go
  cmd/fabrica/tokensmith_authz_templates_test.go
  pkg/codegen/templates/README.md
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/init/auth_helpers.go.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/metrics_helpers.go.tmpl
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
  pkg/codegen/templates/middleware/conditional.go.tmpl
  pkg/codegen/templates/middleware/event-bus.go.tmpl
  pkg/codegen/templates/middleware/validation.go.tmpl
  pkg/codegen/templates/middleware/versioning.go.tmpl
  pkg/codegen/templates/reconciliation/event-handlers.go.tmpl
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
  pkg/codegen/templates/server/authz_classifier.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix(generate): honor --fabrica-source toolchain and registry SPDX
  cmd/fabrica/apiversion_template_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/generate_local_source_test.go
  pkg/codegen/generator.go
  pkg/codegen/templates/apiversion/register.gotmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: reorder import statements in generate.go for consistency
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix(generate): format generated registration files and add gofmt stability test
  cmd/fabrica/generate.go
  cmd/fabrica/registration_template_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: remove unnecessary whitespace in import statements
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct SPDX header identifiers in API version register template test
  cmd/fabrica/apiversion_template_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct typo in SPDX header identifier in generator.go
  pkg/codegen/generator.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct SPDX header references and improve reconciliation logging in templates
  pkg/codegen/generator.go
  pkg/codegen/templates/init/auth_helpers.go.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update Go version to 1.26.2 and dependencies in go.mod and go.sum
  .github/workflows/regression-tests.yml
  Makefile
  go.mod
  go.sum
Due: none

fix: update Go version matrix to only include 1.26.2
  .github/workflows/regression-tests.yml
Due: none

Upgrade to 1.26.2
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  go.mod
  go.sum
Due: none

reduce SPDX line for REUSE compliance
  pkg/codegen/generator.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add MCP server tests and CLI documentation
  cmd/fabrica/main.go
  cmd/fabrica/mcp.go
  cmd/fabrica/mcp_test.go
  docs/README.md
  docs/reference/cli.md
  docs/reference/mcp.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(tests): add comprehensive tests for MCP tools and validation options
  README.md
  USAGE.md
  cmd/fabrica/config.go
  cmd/fabrica/config_security_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/generate_runner_test.go
  cmd/fabrica/init.go
  cmd/fabrica/mcp.go
  cmd/fabrica/mcp_test.go
  cmd/fabrica/scaffold_init_integration_test.go
  docs/guides/quickstart.md
  docs/reference/cli.md
  docs/reference/codegen.md
  docs/reference/mcp.md
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
  pkg/codegen/templates/middleware/event-bus.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/imports/catalog/catalog.go
  test/integration/go.mod
  test/integration/go.sum
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(docs): add OpenAPI extensions guide and update CLI references
  docs/guides/openapi-extensions.md
  docs/guides/quickstart.md
  docs/reference/cli.md
  docs/reference/codegen.md
  pkg/codegen/generator.go
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/openapi_extensions.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(runtime): ensure event bus starts only if it implements Start interface
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
Due: none

feat(tests): update reconciliation test to require events for initialization
  test/integration/rack_reconciliation_automated_test.go
Due: go-test-mod-exclude-examples

feat(mcp): refactor MCP server to be based on upstream sdk
  cmd/fabrica/mcp.go
  cmd/fabrica/mcp_test.go
  docs/reference/mcp.md
  go.mod
  go.sum
  pkg/events/events.go
  test/integration/rack_reconciliation_automated_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(mcp): implement serveWithIO for improved input/output handling and add comprehensive tests for protocol negotiation
  cmd/fabrica/mcp.go
  cmd/fabrica/mcp_test.go
  docs/dev/mcp-reliability-roadmap.md
  docs/reference/mcp.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(mcp): add core tools and types for project management
  cmd/fabrica/add.go
  cmd/fabrica/config_security_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/main.go
  cmd/fabrica/mcp.go
  cmd/fabrica/registration_template_test.go
  cmd/fabrica/version.go
  internal/config/apis_config.go
  internal/config/config.go
  internal/config/config_security.go
  internal/mcp/cli_bridge.go
  internal/mcp/mcp.go
  internal/mcp/mcp_helpers.go
  internal/mcp/mcp_predictions.go
  internal/mcp/mcp_schemas.go
  internal/mcp/mcp_test.go
  internal/mcp/mcp_tools.go
  internal/mcp/mcp_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(mcp): enhance MCP server with protocol negotiation and I/O handling improvements
  docs/dev/mcp-reliability-roadmap.md
  internal/config/apis_config.go
  internal/config/config_security.go
  internal/mcp/cli_bridge.go
  internal/mcp/mcp.go
  internal/mcp/mcp_helpers.go
  internal/mcp/mcp_test.go
  internal/mcp/mcp_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Path conditions:
  go-mod-tidy-exclude-examples: any of: ^(go\.(mod|sum)|cmd/|pkg/|internal/).* and \.go$
  go-vet-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  golangci-lint-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  go-test-mod-exclude-examples: any of: \.go$
