Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

go-mod-tidy-exclude-examples:
  name: go mod tidy (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
  language: system
  pass_filenames: false

go-vet-mod-exclude-examples:
  name: go vet (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
  language: system
  pass_filenames: false

golangci-lint-mod-exclude-examples:
  name: golangci-lint (excluding examples)
  entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
  language: system
  pass_filenames: false

go-test-mod-exclude-examples:
  name: go test (excluding examples and integration tests)
  entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
  language: system
  pass_filenames: false

Update integration tests
  .github/workflows/regression-tests.yml
Due: none

upgrade go-version
  .github/workflows/regression-tests.yml
Due: none

feat: Update golangci-lint configuration to exclude examples directory from linting
  .github/workflows/lint.yaml
  .golangci.yaml
Due: none

feat: Enhance dependency management in Go modules and improve error handling in integration tests
  .github/workflows/regression-tests.yml
  cmd/fabrica/generate.go
  test/integration/clean_test.go
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Update documentation and code to emphasize running 'go mod tidy' after code generation
  README.md
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  docs/getting-started.md
  docs/quickstart.md
  docs/storage-ent.md
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
  examples/04-rack-reconciliation/README.md
  examples/README.md
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Implement Ent code generation and update integration tests for new functionality
  cmd/fabrica/init.go
  docs/storage-ent.md
  test/integration/clean_test.go
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Update code generation comments and improve integration tests
  pkg/codegen/templates/event-handlers.go.tmpl
  pkg/codegen/templates/reconciler.go.tmpl
  test/integration/rack_reconciliation_automated_test.go
Due: go-test-mod-exclude-examples

Preparing for release 0.2.8
  CHANGELOG.md
  README.md
  docs/getting-started.md
  docs/quickstart.md
Due: none

Fix paths
  examples/04-rack-reconciliation/README.md
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Fix saveResource
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
Due: go-test-mod-exclude-examples

Fix spec/status docs
  examples/04-rack-reconciliation/README.md
Due: none

feat(events): Introduce event system for resource lifecycle and condition changes
  cmd/fabrica/main_cobra.go.tmpl
  docs/codegen.md
  examples/condition-events-bridge.go
  pkg/codegen/templates/handlers.go.tmpl
  pkg/codegen/templates/main_ent.go.tmpl
  pkg/events/bridge.go
  pkg/events/events.go
  pkg/reconcile/controller_test.go
  pkg/resource/conditions.go
  pkg/resource/resource.go
  test/integration/events_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(cloud-events): Add comprehensive CloudEvents integration example with event subscriber and test script
  examples/05-cloud-events/README.md
  examples/05-cloud-events/event-subscriber.go
  examples/05-cloud-events/test-events.sh
  examples/README.md
Due: go-test-mod-exclude-examples

fix(docs): Clean up formatting in README and test script for consistency
  examples/05-cloud-events/README.md
  examples/05-cloud-events/test-events.sh
  examples/README.md
Due: none

feat(examples): Remove unneeded condition-events-bridge example file
  examples/condition-events-bridge.go
Due: go-test-mod-exclude-examples

feat(docs): Enhance event system documentation with lifecycle and condition events details
  README.md
  cmd/fabrica/add.go
  docs/events.md
  docs/resource-model.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix(docs): Update API examples to remove unnecessary metadata structure
  README.md
  docs/getting-started.md
  docs/quickstart.md
  examples/01-basic-crud/test-api.sh
  examples/03-fru-service/README.md
  examples/05-cloud-events/test-events.sh
  examples/README.md
Due: none

feat(events): Integrate event bus initialization and middleware for enhanced event handling
  cmd/fabrica/main_cobra.go.tmpl
  examples/05-cloud-events/README.md
  examples/05-cloud-events/test-events.sh
  pkg/codegen/templates/event-bus.go.tmpl
  pkg/codegen/templates/main_ent.go.tmpl
  pkg/codegen/templates/middleware-conditional.go.tmpl
  pkg/codegen/templates/middleware-validation.go.tmpl
  pkg/codegen/templates/middleware-versioning.go.tmpl
  pkg/events/bridge.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Implement Status Subresource Support and Integration Tests
  CHANGELOG.md
  docs/README.md
  docs/status-subresource.md
  examples/06-status-subresource/README.md
  pkg/codegen/templates/client.go.tmpl
  pkg/codegen/templates/handlers.go.tmpl
  pkg/codegen/templates/routes.go.tmpl
  pkg/reconcile/reconciler.go
  test/integration/status_subresource_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

make annotate can skip unknown files
  Makefile
Due: none

- Updated integration tests to reflect automatic Ent code generation during `fabrica generate`. - Deprecated manual Ent generation method in test helpers for backward compatibility.
  CHANGELOG.md
  cmd/fabrica/ent.go
  cmd/fabrica/generate.go
  docs/storage-ent.md
  examples/03-fru-service/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/authorization/model.conf.tmpl
  pkg/codegen/templates/authorization/policies.go.tmpl
  pkg/codegen/templates/authorization/policy.csv.tmpl
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/middleware/conditional.go.tmpl
  pkg/codegen/templates/middleware/event-bus.go.tmpl
  pkg/codegen/templates/middleware/validation.go.tmpl
  pkg/codegen/templates/middleware/versioning.go.tmpl
  pkg/codegen/templates/policy_handlers.go.tmpl
  pkg/codegen/templates/reconciliation/event-handlers.go.tmpl
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
  pkg/codegen/templates/reconciliation/registration.go.tmpl
  pkg/codegen/templates/reconciliation/stub.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
  pkg/codegen/templates/storage/adapter.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  pkg/codegen/templates/storage/generate.go.tmpl
  test/integration/clean_test.go
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Deprecate our internal casbin implementation
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/main_cobra.go.tmpl
  go.mod
  go.sum
  pkg/codegen/generator.go
  pkg/codegen/templates/handlers.go.tmpl
  pkg/codegen/templates/models.go.tmpl
  pkg/codegen/templates/policies.go.tmpl
  pkg/codegen/templates/policies/model.conf.tmpl
  pkg/codegen/templates/policies/policy.csv.tmpl
  pkg/codegen/templates/policy_handlers.go.tmpl
  pkg/middleware/casbin.go
  pkg/policy/casbin.go
  pkg/policy/casbin_ent.go
  pkg/policy/permissive.go
  pkg/policy/registry.go
  pkg/storage/ent/schema/casbin_rule.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

deprecate internal casbin adn rearrange documentation
  README.md
  cmd/fabrica/add.go
  cmd/fabrica/generate.go
  docs/README.md
  docs/guides/conditional-and-patch.md
  docs/guides/events.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
  docs/guides/reconciliation.md
  docs/guides/resource-model.md
  docs/guides/storage-ent.md
  docs/guides/storage.md
  docs/guides/validation.md
  docs/guides/versioning.md
  docs/policy-casbin.md
  docs/reference/architecture.md
  docs/reference/codegen.md
  docs/reference/comparison.md
  docs/reference/releasing.md
  examples/03-fru-service/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/handlers.go.tmpl
  pkg/codegen/templates/models.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: Remove all remaining Casbin references
  docs/status-subresource.md
  examples/03-fru-service/README.md
  examples/06-status-subresource/README.md
  pkg/codegen/templates/README.md
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

Feature/deprecate internal casbin (#12)
  README.md
  cmd/fabrica/add.go
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/main_cobra.go.tmpl
  docs/README.md
  docs/guides/conditional-and-patch.md
  docs/guides/events.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
  docs/guides/reconciliation.md
  docs/guides/resource-model.md
  docs/guides/storage-ent.md
  docs/guides/storage.md
  docs/guides/validation.md
  docs/guides/versioning.md
  docs/policy-casbin.md
  docs/reference/architecture.md
  docs/reference/codegen.md
  docs/reference/comparison.md
  docs/reference/releasing.md
  docs/status-subresource.md
  examples/03-fru-service/README.md
  examples/06-status-subresource/README.md
  go.mod
  go.sum
  pkg/codegen/generator.go
  pkg/codegen/templates/README.md
  pkg/codegen/templates/authorization/model.conf.tmpl
  pkg/codegen/templates/authorization/policies.go.tmpl
  pkg/codegen/templates/authorization/policy.csv.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/middleware/casbin.go
  pkg/policy/casbin.go
  pkg/policy/casbin_ent.go
  pkg/policy/permissive.go
  pkg/policy/registry.go
  pkg/storage/ent/schema/casbin_rule.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Add GetKind, GetName, and GetUID methods for resource management
  cmd/fabrica/add.go
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Add GetKind, GetName, and GetUID methods for resource management (#13)
  cmd/fabrica/add.go
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Preparing for release
  CHANGELOG.md
  README.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
Due: none

Update outdated code snippets from example 6
  examples/06-status-subresource/README.md
Due: none

Update spec example
  examples/06-status-subresource/README.md
Due: none

Update client status example
  examples/06-status-subresource/README.md
Due: none

Update status reference
  examples/06-status-subresource/README.md
Due: none

Update outdated code snippets from example 6 (#14)
  examples/06-status-subresource/README.md
Due: none

Update version information for 0.3.0
  README.md
  docs/guides/getting-started.md
  docs/guides/quickstart.md
Due: none

Fix run command for README top level example
  README.md
Due: none

Fix run command for README top level example (#15)
  README.md
Due: none

Refactor version compatibility check to skip for fresh projects
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Path conditions:
  go-mod-tidy-exclude-examples: any of: ^(go\.(mod|sum)|cmd/|pkg/|internal/).* and \.go$
  go-vet-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  golangci-lint-mod-exclude-examples: any of: ^(cmd/|pkg/|internal/).*\.go$ and \.go$
  go-test-mod-exclude-examples: any of: \.go$
