Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright Â© 2025 OpenCHAMI a Series of LF Projects, LLC
# SPDX-License-Identifier: MIT
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

- repo: https://github.com/fsfe/reuse-tool
  rev: v5.1.1
  hooks:
    - id: reuse-lint-file

-   repo: https://github.com/tekwizely/pre-commit-golang
    # See 'pre-commit help autoupdate'
    rev: v1.0.0-rc.2
    hooks:

    # Disabled go-mod-tidy in favor of custom hook below that properly excludes examples
    # -   id: go-mod-tidy
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-test-mod in favor of custom hook below that excludes examples
    # -   id: go-test-mod
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-vet-mod in favor of custom hook below that excludes examples
    # -   id: go-vet-mod
    #     exclude: '^(test/integration|examples)/'

    #
    # Formatters
    #
    -   id: go-fmt
    -   id: go-fmt-repo

    #
    # Style Checkers
    # Disabled golangci-lint-mod in favor of custom hook below that excludes examples
    # -   id: golangci-lint-mod
    #     exclude: '^(test/integration|examples)/'

# Custom local hooks
-   repo: local
    hooks:
    -   id: go-mod-tidy-exclude-examples
        name: go mod tidy (excluding examples)
        # Temporarily rename examples to hide it from go mod tidy, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(go\.(mod|sum)|cmd/|pkg/|internal/).*'

    -   id: go-vet-mod-exclude-examples
        name: go vet (excluding examples)
        # Temporarily rename examples to hide it from go vet, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: golangci-lint-mod-exclude-examples
        name: golangci-lint (excluding examples)
        # Temporarily rename examples to hide it from golangci-lint, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: go-test-mod-exclude-examples
        name: go test (excluding examples and integration tests)
        entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
        language: system
        pass_filenames: false
        types: [go]

    #

feat: add YAML tags and migration command
  cmd/fabrica/add.go
  cmd/fabrica/main.go
  cmd/fabrica/migrate.go
  cmd/fabrica/migrate_test.go
  docs/guides/migrations.md
  docs/guides/quickstart.md
  docs/reference/cli.md
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: update dependencies in go.mod and go.sum files
  go.mod
  go.sum
  test/integration/go.mod
  test/integration/go.sum
Due: none

feat: add YAML tags and migration command (#60)
  cmd/fabrica/add.go
  cmd/fabrica/main.go
  cmd/fabrica/migrate.go
  cmd/fabrica/migrate_test.go
  docs/guides/migrations.md
  docs/guides/quickstart.md
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  test/integration/go.mod
  test/integration/go.sum
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: upgrade Go: 1.26.3 -> 1.26.4
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  go.mod
  test/integration/go.mod
Due: none

chore: upgrade Go: 1.26.3 -> 1.26.4 (#61)
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  go.mod
  test/integration/go.mod
Due: none

Changed to generate different go package names based on storage db and type
  .gitignore
  cmd/fabrica/init.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
  pkg/codegen/templates/server/export.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/import.go.tmpl
  pkg/codegen/templates/storage/adapter.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/codegen/templates/storage/ent_queries.go.tmpl
  pkg/codegen/templates/storage/ent_transactions.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  pkg/codegen/templates/storage/generate.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Added interface for the storage api
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/migrate_test.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/runtime_helpers.go.tmpl
  pkg/codegen/templates/server/export.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/import.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  pkg/codegen/templates/storage/plugins.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add Fabrica annotation parsing and validation
  pkg/annotations/README.md
  pkg/annotations/doc.go
  pkg/annotations/parser.go
  pkg/annotations/parser_test.go
  pkg/annotations/types.go
  pkg/annotations/validator.go
  pkg/annotations/validator_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: implement parsing and validation for Fabrica annotations in generator
  pkg/annotations/README.md
  pkg/codegen/generator.go
  pkg/codegen/generator_annotations_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add dedicated resource schema generation and associated tests
  pkg/codegen/generator.go
  pkg/codegen/generator_schema_test.go
  pkg/codegen/templates/ent/schema/resource_dedicated.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add dedicated storage adapters and associated tests for resource handling
  pkg/codegen/generator.go
  pkg/codegen/generator_adapter_test.go
  pkg/codegen/templates/storage/adapter_dedicated.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: Add storage annotations example and token service API
  examples/12-storage-annotations/README.md
  examples/12-storage-annotations/test-api.sh
  examples/token-service/apis/v1/token_types.go
  pkg/annotations/cache.go
  pkg/annotations/cache_test.go
  pkg/annotations/directive.go
  pkg/annotations/directive_test.go
  pkg/annotations/parser.go
  pkg/annotations/types.go
  pkg/codegen/generator_adapter_test.go
  pkg/codegen/generator_integration_test.go
  pkg/codegen/generator_schema_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add Client API documentation for Simple and Advanced usage
  docs/guides/client-api.md
  examples/01-basic-crud/README.md
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
Due: none

feat: add fabrica package import to client template
  pkg/codegen/templates/client/client.go.tmpl
Due: none

fix: enforce middleware inheritance in generated routes and update documentation
  cmd/fabrica/templates_router_grouping_test.go
  docs/guides/middleware.md
  pkg/codegen/templates/server/routes.go.tmpl
  test/integration/auth_middleware_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: add SPDX license information to openapi-extensions.md and create renovate.json.license
  docs/guides/openapi-extensions.md
  renovate.json.license
Due: none

chore: extend renovate configuration to include custom GitHub settings
  renovate.json
Due: none

chore: update renovate configuration to use default settings from OpenCHAMI repository
  renovate.json
Due: none

chore: reorder extends in renovate.json for clarity
  renovate.json
Due: none

fix: update storage initialization command in README for clarity
  examples/12-storage-annotations/README.md
Due: none

fix: update storage initialization command in README for accuracy
  examples/README.md
Due: none

refactor: simplify versionString function by removing redundant conditions
  cmd/fabrica/main.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: reorganize documentation structure and consolidate versioning guide
  docs/README.md
  docs/_posts/2025-11-04-basic-crud.md
  docs/_posts/2025-11-04-cloud-events.md
  docs/_posts/2025-11-04-pluggable-storage.md
  docs/_posts/2025-11-04-rack-reconciliation.md
  docs/_posts/2025-11-04-spec-version-history.md
  docs/_posts/2025-11-04-status-subresource.md
  docs/_posts/2025-11-04-welcome-to-fabrica.md
  docs/guides/storage-ent.md
  docs/reference/apis-yaml.md
  docs/reference/mcp.md
  docs/status-subresource.md
  docs/versioning.md
Due: none

feat: add Client API documentation for Simple and Advanced usage (#64)
  docs/guides/client-api.md
  examples/01-basic-crud/README.md
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
Due: none

fix: enforce middleware inheritance in generated routes and update documentation (#66)
  cmd/fabrica/templates_router_grouping_test.go
  docs/guides/middleware.md
  pkg/codegen/templates/server/routes.go.tmpl
  test/integration/auth_middleware_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add support for version command in server and client, including templates and tests
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  pkg/codegen/generator.go
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/client/version.go.tmpl
  pkg/codegen/templates/init/goreleaser.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/makefile.tmpl
  pkg/codegen/templates/server/version.go.tmpl
  test/integration/version_command_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: upgrade Go version to 1.26.5 in workflows and module files
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  go.mod
  test/integration/go.mod
Due: none

chore: upgrade Go version to 1.26.5 in workflows and go.mod
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  go.mod
Due: none

chore: upgrade Go version to 1.26.5 in workflows and go.mod (#72)
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  go.mod
Due: none

feat(cli): support bulk delete for generated client
  pkg/codegen/templates/client/cmd.go.tmpl
  test/integration/runtime_test.go
Due: go-test-mod-exclude-examples

feat(cli): support bulk delete for generated client (#73)
  pkg/codegen/templates/client/cmd.go.tmpl
  test/integration/runtime_test.go
Due: go-test-mod-exclude-examples

feat: add per-resource generation controls
  cmd/fabrica/config_security_test.go
  cmd/fabrica/generate.go
  cmd/fabrica/generate_runner_test.go
  cmd/fabrica/migrate.go
  cmd/fabrica/registration_template_test.go
  docs/apis-yaml.md
  internal/config/apis_config.go
  internal/config/apis_config_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/mcp/cli_bridge.go
  internal/mcp/mcp_helpers.go
  internal/mcp/mcp_tools.go
  pkg/codegen/generator.go
  pkg/codegen/generator_test.go
  pkg/codegen/resource_operations_test.go
  pkg/codegen/templates/authz/policy.csv.tmpl
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/persistence_hooks.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add support for version command in server and client, including templates and tests (#70)
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  pkg/codegen/generator.go
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/client/version.go.tmpl
  pkg/codegen/templates/init/goreleaser.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/makefile.tmpl
  pkg/codegen/templates/server/version.go.tmpl
  test/integration/go.mod
  test/integration/version_command_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: implement per resource storage schemas with annotations (#68)
  examples/12-storage-annotations/README.md
  examples/12-storage-annotations/test-api.sh
  examples/README.md
  examples/token-service/apis/v1/token_types.go
  pkg/annotations/README.md
  pkg/annotations/cache.go
  pkg/annotations/cache_test.go
  pkg/annotations/directive.go
  pkg/annotations/directive_test.go
  pkg/annotations/doc.go
  pkg/annotations/parser.go
  pkg/annotations/parser_test.go
  pkg/annotations/types.go
  pkg/annotations/validator.go
  pkg/annotations/validator_test.go
  pkg/codegen/generator.go
  pkg/codegen/generator_adapter_test.go
  pkg/codegen/generator_annotations_test.go
  pkg/codegen/generator_integration_test.go
  pkg/codegen/generator_schema_test.go
  pkg/codegen/templates/ent/schema/resource_dedicated.go.tmpl
  pkg/codegen/templates/storage/adapter_dedicated.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(metrics): Add Prometheus metrics support and instrumentation
  Makefile
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/scaffold_helper_ownership_test.go
  cmd/fabrica/scaffold_init_integration_test.go
  cmd/fabrica/scaffold_scope_boundary_test.go
  docs/guides/metrics.md
  examples/06-prometheus-metrics/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/metrics_helpers.go.tmpl
  pkg/codegen/templates/middleware/event-bus.go.tmpl
  pkg/codegen/templates/middleware/metrics.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(metrics): update metrics generation to use server directory and improve documentation references
  examples/06-prometheus-metrics/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix(metrics): change package name from server to main in metrics template
  pkg/codegen/templates/middleware/metrics.go.tmpl
Due: none

feat(metrics): refactor metrics generation logic and update documentation for clarity
  cmd/fabrica/generate.go
  docs/guides/metrics.md
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat(metrics): refactor metrics generation and initialization support
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/metrics_helpers.go.tmpl
  pkg/codegen/templates/middleware/metrics.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples
