Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright Â© 2025 OpenCHAMI a Series of LF Projects, LLC
# SPDX-License-Identifier: MIT
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

- repo: https://github.com/fsfe/reuse-tool
  rev: v5.1.1
  hooks:
    - id: reuse-lint-file

-   repo: https://github.com/tekwizely/pre-commit-golang
    # See 'pre-commit help autoupdate'
    rev: v1.0.0-rc.2
    hooks:

    # Disabled go-mod-tidy in favor of custom hook below that properly excludes examples
    # -   id: go-mod-tidy
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-test-mod in favor of custom hook below that excludes examples
    # -   id: go-test-mod
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-vet-mod in favor of custom hook below that excludes examples
    # -   id: go-vet-mod
    #     exclude: '^(test/integration|examples)/'

    #
    # Formatters
    #
    -   id: go-fmt
    -   id: go-fmt-repo

    #
    # Style Checkers
    # Disabled golangci-lint-mod in favor of custom hook below that excludes examples
    # -   id: golangci-lint-mod
    #     exclude: '^(test/integration|examples)/'

# Custom local hooks
-   repo: local
    hooks:
    -   id: go-mod-tidy-exclude-examples
        name: go mod tidy (excluding examples)
        # Temporarily rename examples to hide it from go mod tidy, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(go\.(mod|sum)|cmd/|pkg/|internal/).*'

    -   id: go-vet-mod-exclude-examples
        name: go vet (excluding examples)
        # Temporarily rename examples to hide it from go vet, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: golangci-lint-mod-exclude-examples
        name: golangci-lint (excluding examples)
        # Temporarily rename examples to hide it from golangci-lint, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: go-test-mod-exclude-examples
        name: go test (excluding examples and integration tests)
        entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
        language: system
        pass_filenames: false
        types: [go]

    #

feat: add Node Service Shim example with Profiles and NodeSets
  examples/11-node-service/README.md
  examples/11-node-service/apis/example.fabrica.dev/v1/node_types.go
  examples/11-node-service/apis/example.fabrica.dev/v1/nodeset_types.go
  examples/11-node-service/apis/example.fabrica.dev/v1/profilebinding_types.go
  examples/11-node-service/pkg/reconcilers/nodeset_reconciler.go
  examples/11-node-service/pkg/reconcilers/profilebinding_reconciler.go
  examples/README.md
  pkg/codegen/templates/storage/ent.go.tmpl
Due: go-test-mod-exclude-examples

refactor: update .gitignore and README examples for clarity and consistency
  .gitignore
  examples/04-rack-reconciliation/README.md
  examples/09-ent-advanced/README.md
Due: none

docs: updated the device commands to use UID
  examples/08-api-versioning/README.md
Due: none

Add import Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  cmd/fabrica/add.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add capital first letter Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add imports Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Capitalize resource Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  cmd/fabrica/add.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Fix generate resource name Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add note to remove build ignore for resources Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/README.md
Due: none

Fix outdated note about controller setup Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/README.md
Due: none

Fix chassis pluralization Signed-off-by: Ben McDonald <ben.mcdonald@hpe.com>
  examples/04-rack-reconciliation/README.md
Due: none

authz: add create-once request classifier hook and tests
  cmd/fabrica/authz_classifier_create_once_test.go
  cmd/fabrica/authz_classifier_runtime.go
  cmd/fabrica/authz_classifier_runtime_test.go
  cmd/fabrica/authz_classifier_template_test.go
  cmd/fabrica/template_test_helpers.go
  pkg/codegen/generator.go
  pkg/codegen/templates/server/authz_classifier.go.tmpl
  pkg/codegen/templates/server/authz_classifier_create_once.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

security: add minimal authz adapter contract for generated tokensmith integration
  pkg/security/authz/adapter.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

docs: add manual verification checklist for TokenSmith AuthN/AuthZ generation
  docs/dev/verify-tokensmith-security.md
Due: none

security: wire authn config into codegen runner and scaffold tokensmith JWKS auth
  cmd/fabrica/generate.go
  cmd/fabrica/tokensmith_authn_jwks_required_test.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

init: pin tokensmith in go.mod when auth enabled
  cmd/fabrica/init.go
  cmd/fabrica/template_test_helpers.go
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  internal/constants/tokensmith.go
  pkg/codegen/templates/init/go.mod.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

codegen: group public vs protected routes in templates
  cmd/fabrica/dump_templates_test.go
  cmd/fabrica/template_test_helpers.go
  cmd/fabrica/templates_router_grouping_test.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

templates: document TokenSmith env knobs in README and add .env.template to init
  cmd/fabrica/init.go
  pkg/codegen/templates/init/env.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

chore: fix linter errors and update SPDX license headers to multiple files
  .pre-commit-config.yaml
  cmd/fabrica/add.go
  cmd/fabrica/authz_classifier_create_once_test.go
  cmd/fabrica/authz_classifier_runtime.go
  cmd/fabrica/authz_classifier_runtime_test.go
  cmd/fabrica/authz_classifier_template_test.go
  cmd/fabrica/config_security.go
  cmd/fabrica/dump_templates_test.go
  cmd/fabrica/template_test_helpers.go
  cmd/fabrica/templates_router_grouping_test.go
  docs/_posts/2025-11-04-basic-crud.md
  docs/_posts/2025-11-04-cloud-events.md
  docs/_posts/2025-11-04-pluggable-storage.md
  docs/_posts/2025-11-04-rack-reconciliation.md
  docs/_posts/2025-11-04-spec-version-history.md
  docs/_posts/2025-11-04-status-subresource.md
  docs/_posts/2025-11-04-welcome-to-fabrica.md
  docs/apis-yaml.md
  internal/constants/tokensmith.go
  pkg/security/authz/adapter.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

cmd/fabrica: add Security AuthN/AuthZ config semantics and validation
  cmd/fabrica/config.go
  cmd/fabrica/config_security.go
  cmd/fabrica/config_security_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: template copyright year
  cmd/fabrica/add.go
  cmd/fabrica/init.go
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/cmd.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/ent/schema/annotation.go.tmpl
  pkg/codegen/templates/ent/schema/label.go.tmpl
  pkg/codegen/templates/ent/schema/resource.go.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/middleware/conditional.go.tmpl
  pkg/codegen/templates/middleware/event-bus.go.tmpl
  pkg/codegen/templates/middleware/validation.go.tmpl
  pkg/codegen/templates/middleware/versioning.go.tmpl
  pkg/codegen/templates/reconciliation/event-handlers.go.tmpl
  pkg/codegen/templates/reconciliation/reconciler.go.tmpl
  pkg/codegen/templates/reconciliation/registration.go.tmpl
  pkg/codegen/templates/reconciliation/stub.go.tmpl
  pkg/codegen/templates/server/authz_classifier.go.tmpl
  pkg/codegen/templates/server/authz_classifier_create_once.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
  pkg/codegen/templates/storage/adapter.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  pkg/codegen/templates/storage/generate.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add module compatibility check and related tests for code generation
  cmd/fabrica/generate.go
  cmd/fabrica/generate_preflight_test.go
  cmd/fabrica/generate_runner_test.go
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  internal/constants/tokensmith.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/go.mod.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  test/integration/clean_test.go
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: suppress linter warnings for module compatibility tests
  cmd/fabrica/generate.go
  cmd/fabrica/generate_preflight_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: improve testing strategy and address build bug through testing
  .github/workflows/govulncheck.yaml
  .github/workflows/reuse.yaml
  docs/reference/releasing.md
  pkg/codegen/templates/init/go.mod.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  test/integration/TESTING_STRATEGY.md
  test/integration/clean_test.go
  test/integration/concurrency_test.go
  test/integration/helpers.go
  test/integration/runtime_test.go
Due: go-test-mod-exclude-examples

feat: add Prometheus metrics support with runtime configuration
  USAGE.md
  cmd/fabrica/generate.go
  docs/reference/cli.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/go.mod.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/middleware/metrics.go.tmpl
  test/integration/helpers.go
  test/integration/metrics_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add OpenTelemetry tracing support with configuration options
  USAGE.md
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/codegen/generator.go
  pkg/codegen/templates/init/go.mod.tmpl
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/middleware/tracing.go.tmpl
  pkg/events/events.go
  pkg/events/events_trace_test.go
  test/integration/go.mod
  test/integration/go.sum
  test/integration/otel_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update TokenSmith version and go version in go.mod template
  internal/constants/tokensmith.go
  pkg/codegen/templates/init/go.mod.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update TokenSmith version to v0.0.1 and adjust test expectations
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  internal/constants/tokensmith.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update copyright year and SPDX license in workflow files
  .github/workflows/govulncheck.yaml
  .github/workflows/reuse.yaml
  docs/reference/releasing.md
Due: none

fix: copyright and license information from REUSE.toml
  REUSE.toml
Due: none

fix: correct TokenSmith dependency path and improve branch handling in tests
  cmd/fabrica/templates_tokensmith_go_mod_test.go
  pkg/codegen/templates/init/go.mod.tmpl
  test/integration/clean_test.go
  test/integration/helpers.go
  test/integration/runtime_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: update action versions in workflow files for consistency and stability
  .github/workflows/govulncheck.yaml
  .github/workflows/lint.yaml
  .github/workflows/regression-tests.yml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
Due: none

fix: update Go version to 1.25 in lint workflow
  .github/workflows/lint.yaml
Due: none

update command outputs in the quickstart guide
  docs/guides/quickstart.md
Due: none

adjust curl json payloads to adhere to current schema
  docs/guides/quickstart.md
Due: none

adjust directory hierarchy output in quickstart
  docs/guides/quickstart.md
Due: none

add explicit step for modifying the resource definition
  docs/guides/quickstart.md
Due: none

update file tree output in getting-started
  docs/guides/getting-started.md
Due: none

update definition of generated book struct in getting started
  docs/guides/getting-started.md
Due: none

remove unused fields from schema in getting-started
  docs/guides/getting-started.md
Due: none
