Repository OpenCHAMI/fabrica: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright Â© 2025 OpenCHAMI a Series of LF Projects, LLC
# SPDX-License-Identifier: MIT
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

- repo: https://github.com/fsfe/reuse-tool
  rev: v5.1.1
  hooks:
    - id: reuse-lint-file

-   repo: https://github.com/tekwizely/pre-commit-golang
    # See 'pre-commit help autoupdate'
    rev: v1.0.0-rc.2
    hooks:

    # Disabled go-mod-tidy in favor of custom hook below that properly excludes examples
    # -   id: go-mod-tidy
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-test-mod in favor of custom hook below that excludes examples
    # -   id: go-test-mod
    #     exclude: '^(test/integration|examples)/'
    # Disabled go-vet-mod in favor of custom hook below that excludes examples
    # -   id: go-vet-mod
    #     exclude: '^(test/integration|examples)/'

    #
    # Formatters
    #
    -   id: go-fmt
    -   id: go-fmt-repo

    #
    # Style Checkers
    # Disabled golangci-lint-mod in favor of custom hook below that excludes examples
    # -   id: golangci-lint-mod
    #     exclude: '^(test/integration|examples)/'

# Custom local hooks
-   repo: local
    hooks:
    -   id: go-mod-tidy-exclude-examples
        name: go mod tidy (excluding examples)
        # Temporarily rename examples to hide it from go mod tidy, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go mod tidy; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go mod tidy; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(go\.(mod|sum)|cmd/|pkg/|internal/).*'

    -   id: go-vet-mod-exclude-examples
        name: go vet (excluding examples)
        # Temporarily rename examples to hide it from go vet, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && go vet -mod=mod ./...; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else go vet -mod=mod ./...; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: golangci-lint-mod-exclude-examples
        name: golangci-lint (excluding examples)
        # Temporarily rename examples to hide it from golangci-lint, then restore it
        entry: bash -c 'if [ -d examples ]; then mv examples .examples.tmp && golangci-lint run --fix=false; STATUS=$?; mv .examples.tmp examples; exit $STATUS; else golangci-lint run --fix=false; fi'
        language: system
        pass_filenames: false
        types: [go]
        files: '^(cmd/|pkg/|internal/).*\.go$'

    -   id: go-test-mod-exclude-examples
        name: go test (excluding examples and integration tests)
        entry: bash -c 'go test -mod=readonly -race $(go list ./... 2>/dev/null | grep -v -e "/examples/" -e "/test/integration")'
        language: system
        pass_filenames: false
        types: [go]

    #

generator: add apiversion templates + integration
  pkg/codegen/generator.go
  pkg/codegen/templates/apiversion/register.gotmpl
  pkg/codegen/templates/apiversion/types_hub.gotmpl
  pkg/codegen/templates/apiversion/types_spoke.gotmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

lint
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
Due: none

feat: add conversion methods for device resource across API versions
  cmd/fabrica/add.go
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add IsHub marker for hub/storage version in device resource
  cmd/fabrica/add.go
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

config: add apis.yaml parsing and validation
  cmd/fabrica/config.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

refactor: APIs-first architecture with unified config and fabrica.Metadata
  .reuse/dep5
  REUSE.toml
  cmd/fabrica/add.go
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/version.go
  examples/08-api-versioning/.fabrica.yaml
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/08-api-versioning/apis.yaml.example
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
  examples/08-api-versioning/cmd/server/main.go
  examples/08-api-versioning/go.mod
  examples/08-api-versioning/go.sum
  examples/08-api-versioning/go.sum.license
  examples/08-api-versioning/internal/storage/storage.go
  pkg/fabrica/types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

docs: add hub/spoke versioning guide, examples, and tests
  CHANGELOG.md
  README.md
  docs/versioning.md
  examples/01-basic-crud/README.md
  examples/08-api-versioning/README.md
  examples/08-api-versioning/apis.yaml.example
  examples/README.md
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

Refactor: Remove unused files and implement versioning support
  cmd/fabrica/add.go
  cmd/fabrica/init.go
  examples/08-api-versioning/.fabrica.yaml
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/08-api-versioning/apis/infra.example.io/v1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1alpha1/device_types.go
  examples/08-api-versioning/apis/infra.example.io/v1beta1/device_types.go
  examples/08-api-versioning/cmd/server/main.go
  examples/08-api-versioning/go.mod
  examples/08-api-versioning/go.sum
  examples/08-api-versioning/go.sum.license
  examples/08-api-versioning/internal/storage/storage.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/routes.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: add comprehensive usage guide for Fabrica commands and workflows
  USAGE.md
Due: none

Refactor rack resource definitions to include versioning and improve structure
  cmd/fabrica/generate.go
  pkg/codegen/generator.go
  pkg/codegen/templates/client/client.go.tmpl
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  pkg/codegen/templates/server/openapi.go.tmpl
  pkg/codegen/templates/storage/adapter.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/codegen/templates/storage/file.go.tmpl
  test/integration/helpers.go
  test/integration/rack_reconciliation_automated_test.go
  test/integration/rack_reconciliation_simple_test.go
  test/integration/testdata/rack_reconciler.go
  test/integration/testdata/rack_resources.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: enhance CI workflow with Go version matrix and update example documentation
  .github/workflows/regression-tests.yml
  examples/03-fru-service/README.md
  examples/03-fru-service/pkg/resources/fru/fru.go
  examples/04-rack-reconciliation/README.md
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
  go.mod
  go.sum
Due: go-test-mod-exclude-examples

feat: update Go version matrix and improve artifact naming in CI workflow
  .github/workflows/regression-tests.yml
Due: none

feat: update Go module dependencies and tidy up imports
  .github/workflows/regression-tests.yml
  test/integration/go.mod
  test/integration/go.sum
Due: none

feat: enhance configuration and documentation for Fabrica project
  .github/workflows/regression-tests.yml
  README.md
  USAGE.md
  cmd/fabrica/add.go
  cmd/fabrica/apis_config.go
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  cmd/fabrica/version.go
  docs/apis-yaml.md
  docs/versioning.md
  pkg/codegen/generator.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

refactor: remove deprecated versioning config from ProjectConfig and initialization
  cmd/fabrica/config.go
  cmd/fabrica/init.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Enhance documentation and code structure for API versioning and resource management
  README.md
  USAGE.md
  cmd/fabrica/add.go
  cmd/fabrica/config.go
  cmd/fabrica/generate.go
  cmd/fabrica/init.go
  docs/guides/quickstart.md
  docs/guides/storage-ent.md
  docs/reference/codegen.md
  docs/versioning.md
  examples/03-fru-service/README.md
  examples/06-status-subresource/README.md
  examples/07-spec-versioning/README.md
  examples/08-api-versioning/README.md
  examples/README.md
  pkg/codegen/templates/init/main.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: correct API version assignment and error handling in resource conversion and discovery
  cmd/fabrica/add.go
  cmd/fabrica/generate.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

refactor: streamline registration file generation and improve code readability
  cmd/fabrica/generate.go
  test/integration/clean_test.go
  test/integration/helpers.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: streamline apis.yaml handling in versioning tests and implement validation
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

fix: update resource kind formatting in apis.yaml for consistency
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

feat: Add advanced Ent storage example with export/import functionality
  .github/copilot-instructions.md
  cmd/fabrica/generate.go
  docs/guides/storage-ent.md
  examples/09-ent-advanced/PATTERNS.md
  examples/09-ent-advanced/README.md
  examples/09-ent-advanced/quick-start.sh
  examples/09-ent-advanced/test-advanced.sh
  examples/10-export-import/README.md
  examples/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/export.go.tmpl
  pkg/codegen/templates/server/import.go.tmpl
  pkg/codegen/templates/storage/ent_queries.go.tmpl
  pkg/codegen/templates/storage/ent_transactions.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

fix: enhance test coverage for versioning functionality
  pkg/codegen/templates/server/import.go.tmpl
  test/integration/helpers.go
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

refactor: streamline integration tests by replacing direct file checks with validation functions
  test/integration/clean_test.go
  test/integration/helpers.go
  test/integration/versioning_test.go
Due: go-test-mod-exclude-examples

feat: update README and handlers templates for improved resource and versioning commands; add export/import integration tests
  pkg/codegen/templates/init/readme.md.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/import.go.tmpl
  test/integration/export_import_test.go
Due: go-test-mod-exclude-examples

refactor: update changelog and README for SQLite foreign keys fix; remove deprecated device_types.go
  CHANGELOG.md
  examples/03-fru-service/README.md
  examples/08-api-versioning/README.md
  pkg/codegen/templates/init/main.go.tmpl
  vertest/apis/example.fabrica.dev/v1alpha1/device_types.go
Due: go-test-mod-exclude-examples

refactor: update resource path in Example1_CustomizeResource for versioned projects
  test/integration/helpers.go
Due: go-test-mod-exclude-examples

refactor: implement API versioning support and update resource structure
  README.md
  cmd/fabrica/generate.go
  examples/01-basic-crud/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/versioning/middleware.go
  vertest/apis/example.fabrica.dev/v1alpha1/device_types.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Refactor integration tests and add runtime validation
  .gitignore
  cmd/fabrica/generate.go
  pkg/codegen/generator.go
  pkg/codegen/templates/init/main.go.tmpl
  test/integration/TESTING_STRATEGY.md
  test/integration/client_binary_test.go
  test/integration/export_import_test.go
  test/integration/helpers.go
  test/integration/runtime_test.go
  test/integration/test-lib.sh
  test/integration/test_debug.sh
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Refactor documentation and examples to align with new API versioning structure
  README.md
  docs/_posts/2025-11-04-basic-crud.md
  docs/guides/getting-started.md
  docs/guides/middleware.md
  docs/guides/resource-model.md
  docs/guides/storage-ent.md
  docs/guides/validation.md
  docs/guides/versioning.md
  docs/reference/architecture.md
  docs/reference/cli.md
  docs/reference/codegen.md
  docs/status-subresource.md
  docs/versioning.md
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
  examples/04-rack-reconciliation/README.md
  examples/05-cloud-events/README.md
  examples/06-status-subresource/README.md
  examples/08-api-versioning/README.md
  examples/README.md
Due: none

fix: remove unnecessary blank lines in middleware and versioning documentation
  docs/guides/middleware.md
  docs/guides/versioning.md
  docs/reference/architecture.md
  docs/versioning.md
Due: none

feat: update examples and tests to use flattened envelope structure (metadata + spec)
  examples/01-basic-crud/README.md
  examples/03-fru-service/README.md
  examples/04-rack-reconciliation/README.md
  examples/05-cloud-events/README.md
  examples/06-status-subresource/README.md
  examples/07-spec-versioning/README.md
  test/integration/runtime_test.go
Due: go-test-mod-exclude-examples

feat: enhance validation documentation and update request models for metadata handling
  docs/guides/validation.md
  examples/08-api-versioning/README.md
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  test/integration/TESTING_STRATEGY.md
  test/integration/runtime_test.go
  test/integration/test-lib.sh
  test/integration/test_debug.sh
Due: go-test-mod-exclude-examples

feat: enhance validation for inlined spec fields in versioned APIs and update related documentation
  examples/01-basic-crud/README.md
  examples/01-basic-crud/test-api.sh
  examples/08-api-versioning/README.md
  examples/09-ent-advanced/quick-start.sh
  pkg/codegen/templates/server/handlers.go.tmpl
  pkg/codegen/templates/server/models.go.tmpl
  test/integration/TESTING_STRATEGY.md
  test/integration/runtime_test.go
Due: go-test-mod-exclude-examples

updating documentation and tests for registering versions
  cmd/fabrica/generate.go
  docs/guides/versioning.md
  docs/reference/cli.md
  test/integration/versioning_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Add advanced Ent storage features example and related scripts
  .gitignore
  .pre-commit-config.yaml
  examples/01-basic-crud/README.md
  examples/01-basic-crud/test-api.sh
  examples/03-fru-service/README.md
  examples/03-fru-service/apis/example.fabrica.dev/v1/fru_types.go
  examples/04-rack-reconciliation/README.md
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/blade_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/bmc_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/chassis_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/node_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/rack_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/racktemplate_types.go
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
  examples/05-cloud-events/README.md
  examples/05-cloud-events/event-subscriber.go
  examples/05-cloud-events/test-events.sh
  examples/06-status-subresource/README.md
  examples/07-spec-versioning/README.md
  examples/07-spec-versioning/test-versions.sh
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/09-ent-advanced/PATTERNS.md
  examples/09-ent-advanced/README.md
  examples/09-ent-advanced/quick-start.sh
  examples/09-ent-advanced/test-advanced.sh
  examples/10-export-import/README.md
  examples/README.md
  pkg/versioning/middleware_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: update version negotiation documentation and enhance API versioning registration
  docs/guides/middleware.md
  docs/guides/versioning.md
  docs/reference/architecture.md
  examples/08-api-versioning/README.md
  pkg/codegen/generator.go
  pkg/codegen/templates/apiversion/register.gotmpl
  pkg/codegen/templates/init/main.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

feat: restructure rack reconciliation example with new API definitions
  USAGE.md
  cmd/fabrica/add.go
  docs/reference/cli.md
  examples/01-basic-crud/README.md
  examples/01-basic-crud/test-api.sh
  examples/03-fru-service/apis/example.fabrica.dev/v1/fru_types.go
  examples/04-rack-reconciliation/README.md
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/blade_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/bmc_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/chassis_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/node_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/rack_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/racktemplate_types.go
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
  examples/05-cloud-events/README.md
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/09-ent-advanced/PATTERNS.md
  examples/09-ent-advanced/README.md
  examples/09-ent-advanced/quick-start.sh
  examples/09-ent-advanced/test-advanced.sh
  examples/README.md
  pkg/codegen/templates/server/import.go.tmpl
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

Addressing version negotiation mismatch between body and header
  pkg/versioning/middleware.go
  pkg/versioning/middleware_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples

updating gitignore for new testing structures
  .gitignore
Due: none

Update testing and address generation bugs.
  examples/01-basic-crud/README.md
  examples/01-basic-crud/test-api.sh
  examples/03-fru-service/README.md
  examples/03-fru-service/apis/example.fabrica.dev/v1/fru_types.go
  examples/04-rack-reconciliation/README.md
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/blade_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/bmc_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/chassis_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/node_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/rack_types.go
  examples/04-rack-reconciliation/apis/example.fabrica.dev/v1/racktemplate_types.go
  examples/04-rack-reconciliation/pkg/reconcilers/rack_reconciler.go
  examples/05-cloud-events/README.md
  examples/05-cloud-events/event-subscriber.go
  examples/05-cloud-events/test-events.sh
  examples/06-status-subresource/README.md
  examples/07-spec-versioning/README.md
  examples/07-spec-versioning/test-versions.sh
  examples/08-api-versioning/README.md
  examples/08-api-versioning/STRUCTURE.md
  examples/09-ent-advanced/PATTERNS.md
  examples/09-ent-advanced/README.md
  examples/09-ent-advanced/quick-start.sh
  examples/09-ent-advanced/test-advanced.sh
  examples/10-export-import/README.md
  examples/README.md
  pkg/codegen/templates/client/models.go.tmpl
  pkg/codegen/templates/storage/ent.go.tmpl
  pkg/versioning/middleware.go
  pkg/versioning/registry.go
  test/integration/helpers.go
  test/integration/runtime_test.go
Due: go-mod-tidy-exclude-examples, go-vet-mod-exclude-examples, golangci-lint-mod-exclude-examples, go-test-mod-exclude-examples
